// ==================================================

// 2 TYPOGRAPHY

// ==================================================

// --------------------------------------------------
// 1.2  Body
// --------------------------------------------------

body {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	color: $text-color;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// --------------------------------------------------
// 1.2  Base Text
// --------------------------------------------------

p {
	margin: 0 0 ($line-height-computed / 2);
}

.lead {
	font-family: $font-family-headings;
	font-size: 30px;
	line-height: 1.3;
	font-weight: 300;
	//color: $gray-darker;
}

/*
--------------------------------------------------
2.2  Headings
-------------------------------------------------- */

// --------------------------------------------------
// 1.2  Headings
// --------------------------------------------------

//  2.1.4  Heading Base
// --------------------------------------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 300;
	font-family: $font-family-headings;
	line-height: $headings-line-height;

	//margin-top: $line-height-computed;
	margin-top: 0;
	margin-bottom: $line-height-computed;
	//margin-bottom: ($line-height-computed / 2);

	small,
	.small {
		line-height: 1;
		color: $gray-light;
		font-size: scale(-1);
	}
}

//  2.1.4  Heading Sizes
// --------------------------------------------------
h1, .h1 { font-size: scale(6); }
h2, .h2 { font-size: scale(5); }
h3, .h3 { font-size: scale(4); }
h4, .h4 { font-size: scale(3); }
h5, .h5 { font-size: scale(2); }
h6, .h6 { font-size: scale(1); }

h1 small, .h1 small { font-size: scale(3); }
h2 small, .h2 small { font-size: scale(2); }
h3 small, .h3 small { font-size: scale(1); }
h4 small, .h4 small { font-size: scale(0); }
h5 small, .h5 small { font-size: scale(-1); }
h6 small, .h6 small { font-size: scale(-2); }

//  2.1.4  Heading Style
// --------------------------------------------------
.heading {
	font-size: 40px;
	line-height: 1.2;

	&.small,
	small {
		font-size: 30px;
	}
}


// --------------------------------------------------
// 1.2  Text-level semantics
// --------------------------------------------------

//  2.1.4  Anchors
// --------------------------------------------------
a {
	color: $link-color;
	text-decoration: none;

	transition: background-color 0.5s;

	&:hover,
	&:focus {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

//  2.1.4  Modifiers
// --------------------------------------------------

strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
small,
.small {
	font-size: scale(-1);
}
cite {
	font-style: normal;
}
mark,
.mark {
	background-color: $secondary-muted;
	padding: .2em;
}

// --------------------------------------------------
// 1.2  Lists
// --------------------------------------------------
ul,
ol {
	margin-top: 0;
	margin-bottom: ($line-height-computed / 2);
	ul,
	ol {
		margin-bottom: 0;
	}
}

.list-unstyled,
.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	margin-left: -5px;

	> li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.list-center {
	text-align: center;
	margin: 0;

	> li {
		float:none;
		display:inline-block;
		vertical-align: top;
	}
}


// --------------------------------------------------
// 1.2  Description Lists
// --------------------------------------------------
dl {
	margin-bottom: $line-height-computed;
}
dt,
dd {
	line-height: $line-height;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}

// --------------------------------------------------
// 1.2  Abbreviations
// --------------------------------------------------
abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted $primary;
}

// --------------------------------------------------
// 1.2  Blockquote
// --------------------------------------------------
blockquote {
	padding: ($line-height-computed / 2) $line-height-computed;
	margin: 0 0 $line-height-computed;
	font-size: scale(1);
	border-left: 3px solid $gray-light;

	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}

	small,
	.small {
		display: block;
		font-size: 80%; // back to default font-size
		line-height: $line-height;
		color: $gray-light;

		&:before {
			content: '\2014 \00A0';
		}
	}

	&.reverse {
		padding-right: 15px;
		padding-left: 0;
		border-right: 3px solid $gray-light;
		border-left: 0;
		text-align: right;

		small,
		.small {
			&:before { content: ''; }
			&:after {
				content: '\00A0 \2014';
			}
		}
	}
}

//  2.1.4  Quotes
// --------------------------------------------------
blockquote:before,
blockquote:after {
	content: "";
}

// --------------------------------------------------
// 1.2  Addresses
// --------------------------------------------------
address {
	margin-bottom: $line-height-computed;
	font-style: normal;
	line-height: $line-height;
}

// --------------------------------------------------
// 1.2  Text Utilities
// --------------------------------------------------

//  2.1.4  Alignment
// --------------------------------------------------
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.text-nowrap {
	white-space: nowrap;
}

//  2.1.4  Transformation
// --------------------------------------------------
.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-large {
	font-size: $font-size-lg;
}
.text-medium {
	font-size: $font-size-md;
}
.text-small {
	font-size: $font-size-sm;
}
.text-xsmall {
	font-size: $font-size-xs;
}
.text-overflow {
	@include text-overflow;
}

//  2.1.4  Mutes
// --------------------------------------------------
.text-muted {
	color: $secondary-muted;
}

.text-hide {
	@include text-hide;
}


//  2.1.4  Shades
// --------------------------------------------------

/*.text-darker {
	color: $gray-darker;

	a {
		color: inherit;
	}
}

.text-dark {
	color: $text-color;

	strong {
		color: $gray-darker;
	}
}
.text-light {
	color: $white;

	a {
		color: inherit;
	}

	.lead {
		color: inherit;

		a {
			font-weight: 600;
		}
	}
}*/