// ==================================================
// FUNCTIONS
// ==================================================
// file:     core-functions.less
// version:  1.0
// date:     13th July 2014
// --------------------------------------------------



// ==================================================

// 1  FUNCTIONS

// ==================================================

// --------------------------------------------------
// 1.1  Generate ratio scale
// --------------------------------------------------
@function scale($value: 0, $baseSize: $font-size, $ratio: $font-ratio) {
	@return pow($ratio, $value) * $baseSize;
}


// ==================================================

// 1  MATHS

// ==================================================

// --------------------------------------------------
// 1.2  Pow (credit: Adam Savitzky)
// --------------------------------------------------
@function pow($x, $n) {
	$ret: 1;

	@if $n > 0 {
		@for $i from 1 through $n {
			$ret: $ret * $x;
		}
	} @else if $n < 0 {
		@for $i from $n to 0 {
			$ret: $ret / $x;
		}
	}

	@return $ret;
}