/*
==================================================
NKD Design Patterns Resources
==================================================
file:     main.css
version:  1.0
date:     21 July 2014
author:   Lawrence Eldridge
agency:   NKD Learning
url:      nkdlearning.co.uk
--------------------------------------------------


--------------------------------------------------
Table of Contents
--------------------------------------------------


      LIBRARIES
      --------------------------------------------

         A  CSS RESET


      MAIN STYLES
      --------------------------------------------

         1  ELEMENTS
             1.1  Root Element
             1.2  Text-Level Semantics
             1.3  Grouping Content
             1.4  Forms
             1.5  Document Sections
             1.6  Tabular Data
             1.7  Embedding Content
             1.8  Interactive Elements
         2  TYPOGRAPHY
             2.1  Fonts
             2.2  Headings
             2.3  Anchors
             2.4  Lists
         3  GRIDS
             3.1  Fluid Grid
         4  NAVIGATION
             4.1  Menus
             4.2  Top bar
             4.3  Breadcrumbs
             4.4  Pagination
             4.5  Pager
         5  COMPONENTS
             5.1  Icons
             5.2  Tooltips
             5.3  Popovers
             5.4  Labels & Badges
             5.5  Swatches
             5.6  Items
         6  EFFECTS
             6.1  Box Shadows
             6.2  Syntax Highlighter Overrides
         7  UTILITIES


--------------------------------------------------
*/

/*
==================================================

A  CORE VARIABLES & MIXINS

==================================================
*/
*:focus {
	outline: none;
}

@import "core-functions.scss";
@import "core-mixins.scss";
@import "core-grids.scss";
@import "core-colours.scss";
@import "core-fonts.scss";
@import "core-variables.scss";

/*
==================================================

B  CSS RESET

==================================================
*/
@import "controllers/normalize.scss";

/*
==================================================

1  SETUP

==================================================
*/
@import "controllers/base.scss";
@import "controllers/sections.scss";
@import "controllers/grid.scss";

/*
==================================================

2  ELEMENTS

==================================================
*/
@import "controllers/typography.scss";
@import "controllers/header.scss";
@import "controllers/footer.scss";
@import "controllers/navs.scss";
@import "controllers/sidebar.scss";
@import "controllers/alerts.scss";
@import "controllers/buttons.scss";
@import "controllers/button-groups.scss";
@import "controllers/pagination.scss";
@import "controllers/pager.scss";
@import "controllers/progress-bars.scss";
@import "controllers/forms.scss";
@import "controllers/tables.scss";
@import "controllers/modals.scss";
@import "controllers/isotope.scss";
@import "controllers/masonry.scss";

/*
==================================================

3  GRIDS

==================================================
*/

/*
==================================================

5  COMPONENTS

==================================================
*/
@import "controllers/commander.scss";
@import "controllers/slideshow.scss";
@import "controllers/tooltips.scss";

/*
==================================================

5  MODULES

==================================================
*/
@import "modules/home.scss";
@import "modules/about.scss";
@import "modules/services.scss";
@import "modules/cases.scss";
@import "modules/misc.scss";
@import "modules/contact.scss";
@import "modules/careers.scss";
@import "modules/insights.scss";
@import "modules/blogs.scss";
@import "modules/templates.scss";

/*
==================================================

5  UTILITES

==================================================
*/
@import "controllers/utilities.scss";
@import "controllers/utilities-responsive.scss";
@import "controllers/animations.scss";
@import "controllers/brb.scss";

/*
==================================================

6 UPDATES

==================================================
*/

@import "updates.scss"
