.mod {
	.contact-hero {
	}

	.contact-call {
		.heading {
			font-size: 25px;
		}
	}

	.contact-hi {
		.heading {
			font-size: 35px;
		}
	}

	.contact-form {
		.heading {
			margin-bottom: 108px;
		}

		form {
			.btn {
				margin-top: 35px;
			}
		}
	}


}